@import "node_modules/@spectrum-css/page/dist/index.css";
@import "node_modules/@spectrum-css/typography/dist/index.css";
@import "node_modules/@spectrum-css/icon/dist/index.css";
/* Components */
@import "node_modules/@spectrum-css/tabs/dist/index.css";
@import "node_modules/@spectrum-css/button/dist/index.css";
@import "node_modules/@spectrum-css/divider/dist/index.css";
@import "node_modules/@spectrum-css/actionbutton/dist/index.css";

.body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0em;
  padding: 0.25em;
  background: white;
  position: relative;
  min-height: 100vh;
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
}

/* Header Styles */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: 1px solid;
}

.header__left .header__nav {
  display: flex;
  align-items: center;
}

.header__left .brand-container {
  background: none;
}

.header__left .brand {
  display: flex;
  align-items: center;
  padding: 0em 1em;
  margin-inline-end: 8em;
}

.header__nav-controls .spectrum-Tabs-item:not(.brand) {
  /* border-left: 1px solid; */
  border-right: 1px solid;
  margin-inline-start: unset;
  padding: 0em 1em;
}

.header__nav-controls .spectrum-Tabs-item:first-child:not(.brand) {
  border-left: 1px solid;
}

.header__right .spectrum-Tabs-item {
  border-left: 1px solid;
  margin-inline-start: unset;
  padding: 0em 1em;
}

/* Footer Styles */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}

.footer button {
  border-radius: 0;
}

.footer .footer__left {
  display: flex;
  align-items: center;
}

.footer__left .footer-msg {
  padding: 0em 1em;
}

.footer .footer__left button {
  border-right: 1px solid;
}

.footer .footer__left button:first-of-type {
  border-left: 1px solid;
}

.footer .footer__right button {
  border-left: 1px solid;
}

/* Main Content Styles */
.main {
  flex-grow: 1;
  border-left: 1px solid;
  border-right: 1px solid;
}
